
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Main.cshtml";
}

@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.0/underscore-min.js" integrity="sha256-tr4FvXVZp8nkW7TvW4OYA5KWOs7fc2m5B6LN+AOn1VI=" crossorigin="anonymous"></script>
    <script src="~/Scripts/sample-model.js"></script>
    <script src="~/Scripts/luval-forms.js"></script>
    <script type="text/javascript">
        $(function () {
            var formBuilder = new forms(simpleForm);
            formBuilder.render('sample-form');
            var listBuilder = new lists(simpleList, simpleData);
            listBuilder.render('sample-list');

        });
    </script>
}

<h2>Hello World</h2>

<div id="sample-form"></div>
<div id="sample-list"></div>

