
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_FormBase.cshtml";
}

@section formStyles{

}

@section formScripts{
    <script type="text/javascript">
        $(function () {
            var formBuilder = new forms(simpleForm);
            formBuilder.render('sample-form', function (el) {
                var builder = new listBuilder(simpleList, simpleData);
                builder.render('sample-list', function (el) {
                    
                });
            });
        });
    </script>
}

<h2>Hello World</h2>

<div id="sample-form"></div>
<div id="sample-list"></div>

