
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_FormBase.cshtml";
}

@section formStyles{

}

@section formScripts{
    <script type="text/javascript">
        $(function () {
        });
    </script>
}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Luval</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Sample">Sample</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Rank</a>
            </li>
        </ul>
    </div>
</nav>

