@{
    Layout = "~/Views/Shared/_FormBase.cshtml";
}

@section formScripts{
    <script src="/Content/Scripts/pipeline.js"></script>
    <script type="text/javascript">
        $(function () {
            var pipeHelper = new pipelineHelper();
            var helper = new projectHelper(pipelineModel, pipeResourceList, pipeResourceModalModel, pipeHelper.onModalAccept);
            helper.render();
            pipeHelper.renderSummary('pipe-summary-div');
        });
    </script>
}

<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-sm-12">
        <div id="render-div"></div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm-12">
        <h3>Resource Mix</h3>
        <div class="btn-group" role="group">
            <button id="resource-add" type="button" class="btn btn-success"><i class="fas fa-plus"></i></button>
            <button id="resource-edit" type="button" class="btn btn-secondary"><i class="fas fa-edit"></i></button>
            <button id="resource-remove" type="button" class="btn btn-danger"><i class="fas fa-trash"></i></button>
        </div>
        <div id="resource-div">
        </div>
    </div>
    <div id="form-modal"></div>
</div>
<hr />

<div class="row">
    <div class="col-sm-12">
        <h3>Summary</h3>
        <div id="pipe-summary-div"></div>
    </div>
</div>

