
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_FormBase.cshtml";
}

@section formScripts{
    <script type="text/javascript">
        $(function () {
            var builder = new forms(rankModel);
            builder.renderWithData('rank-div', @ViewBag.Id, function (data) {
                //on complete
            });
        });
    </script>
}

<h2>Edit Ranks</h2>
<div id="rank-div"></div>


