
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_FormBase.cshtml";
}

@section formScripts{
    <script type="text/javascript">
        $(function () {
            var builder = new forms(resourceModel);
            builder.render('resource-div', function (data) {
                //on complete
            });
        });
    </script>
}

<h2>Resources</h2>
<div id="resource-div"></div>



